<h1>This is index of user</h1>
<table>
  <thead>
  <tr>
    <td>Email</td>

    <td>AddFriend</td>

  </tr>
  </thead>
  <tbody>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>

      <td><%= link_to "Add Friend", friendships_path(:friend_id => @users), :method => :post %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Create New Posts","/posts/new" %>
<%= link_to "Show All Posts",post_new_path %>
<br>

<%= link_to "LogOut", destroy_user_session_path, method: :delete %>




