<%= form_for @post do |f| %>
  <%if flash[:errors] %>
    <%flash[:errors].each do |e| %>
      <p><%= e%></p>
    <% end %>
  <%end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>

  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>

  </p>
  <p>
    <%= f.label :images %><br>
    <%= f.file_field :images %>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Home",root_path %>
